<section>
    <a href="/dashboard" class="is-pulled-right footerText"> &larr; Back to Dashboard</a>
    <h2 class="title" style="color:cyan">Create New Blog Post</h2>
    <hr>

    <form class=" new-post-form">
        <div>
            <label for="post-title" style="color:cyan">Title:</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Insert blog title here" />
        </div>
        <div>
            <label for="post-content" style="color:cyan">Content:</label>
            <input class="textarea is-large" id="post-content" name="post-content"
                placeholder="Insert blog content here" />
        </div>
        <br>
        <button type="submit" class="button is-success is-outlined is-pulled-right">Create Post</button>
        <br></br>
    </form>
</section>

<script src="/js/add-post.js"></script>