
<div>
   



{{#each posts as |post|}}

{{> post-info post }}
</div>




</div>
  <div>
{{else}}
<h6 class="pb-4 has-text-centered is-italic">Click on the "Create New Post" button to be the first one to create a post!</h6>
{{/each}}

</div>

</script>

