<div class="column">
    <h2 class="title pb-4" style="color:darkorchid">Create New Account:</h2>
    <hr>
    <form class="signup-form">
        <div>
            <label for="username-signup" style="color:cyan">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup" style="color:cyan">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup" style="color:cyan">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="button is-success is-outlined is-rounded">Sign Me Up!</button>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>